
<div>
    <form method="POST" action="/auth/signup">
        <h2>Usuario</h2>
        <input type="text" name="username" placeholder="aresendiz">
        <hr>
        <h2>email</h2>
        <input type="text" name="email" placeholder="andoniresendiz@gmail.com">
        <hr>
        <h2>password</h2>
        <input type="password" name="password" placeholder="******">  
    <button type="submit">crear cuenta</button>
    </form>
</div>